<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WhitneyLeaks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="app.js"></script>
  <style>
  body {
    padding-top:50px;
    font-family: 'Merriweather Sans', sans-serif;
  }
  select {
    font-size: 24px;
    width:50%;
    text-align-last:center;
  }

  td{
    font-size: 16px;
    text-align: center;
  }

  .table > tbody > tr > td {
    vertical-align: middle;
  }

  img{
    width:200px; /* you can use % */
    height: auto;
  }
  </style>
</head>
<body class="container" ng-app="firstApp" ng-controller="mainController as main">
  <div class="jumbotron">
    <img src="http://whitney.org/image_columns/0062/8316/89.7_steichen_imageprimacy_520_520_740.jpg?1418320705" style="width:20%; display: block; margin: 0 auto;">
    <div style="text-align:center;" >
      <h1 style="text-align:center;">/WhitneyLeaks/</h1>
      <h3 style="margin-bottom:5%; text-align:center;">{{main.titles.length}} different titles</h3>
      <p id="p">
        <h3>Search by: </h3>
        <select id="switcher">
          <option value="---">-Select a search mode-</option>
          <option value="artist">Artist</option>
          <option value="accession">Accession Year</option>
          <option value="title" selected>Title</option>
          <option value="medium">Medium</option>
          <option value="date">Creation Year</option>
          <option value="dimension">Dimension</option>
        </select>
      </p>
      <select ng-model="selected">
        <option ng-repeat="title in main.titles |  orderBy:'title'" value="{{title.title}}">{{title.title}}</option>
      </select>
      <p ng-repeat="work in filtered = (main.works | filter: selected)"><h3>{{filtered.length}} have {{selected}} in the title</h3></p>
    </div>
  </div>
  <div class="jumbotron">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Id</td>
          <td>Artist</td>
          <td>Title</td>
          <td>Date</td>
          <td>Medium</td>
          <td>Demension</td>
          <td>Accession</td>
          <td>Image</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="work in main.works | filter:{'title': selected}">
          <td>{{work.id}}</td>
          <td>{{work.artist}}</td>
          <td>{{work.title}}</td>
          <td>{{work.date}}</td>
          <td>{{work.medium}}</td>
          <td>{{work.dimension}}</td>
          <td>{{work.accession}}</td>
          <td><a href="http://collection.whitney.org/object/{{work.id}}"><img src="{{work.img}}" alt="no img"></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
    $("#switcher").change(function(){
      if ($(this).val() =='---') window.location.href="https://jimmyadg.github.io/18154_shades_of_whitney/leaks/index.html";
      if ($(this).val() =='artist') window.location.href="https://jimmyadg.github.io/18154_shades_of_whitney/leaks/artist.html";
      if ($(this).val() =='accession') window.location.href="https://jimmyadg.github.io/18154_shades_of_whitney/leaks/accession.html";
      if ($(this).val() =='date') window.location.href="https://jimmyadg.github.io/18154_shades_of_whitney/leaks/date.html";
      if ($(this).val() =='medium') window.location.href="https://jimmyadg.github.io/18154_shades_of_whitney/leaks/medium.html";
      if ($(this).val() =='title') window.location.href="#";
      if ($(this).val() =='dimension') window.location.href="https://jimmyadg.github.io/18154_shades_of_whitney/leaks/dimension.html";
    });
  });
  </script>

</body>
</html>
